.nav {
  width:100%;
  margin: auto;
  background-color:#85ad5d;
  height: 55px;

  border-bottom: 1px solid white;
}

.nav-container {
  max-width:1000px;
  margin: auto;
  background-color: #85ad5d;
  height: 55px;
  border-bottom: 1px solid white;
}

.nav-container p{
  font-size: 17px;
  font-family: Arial;
  color: white;
}

.call-us {
  background-color:#0b82b5;
  display: inline-block;
  float:right;
  height: 54px;
  font-size: 20px;
  font-family: Arial;
  color: white;
  border: 1px solid #ffffff;
}

.call-us p {
  padding: 1px 40px;
  font-size: 17px;
  font-family: Arial;
  color: white;
}

.banner {
  max-width: 1500px;
  margin:auto;
  background-color: #222222;
  height:230px;
  padding-top: 100px;
  background-image: url("images/banner.jpg");
  background-size: cover;
}

.body-container {
  width: 100%;
  margin:auto;
  box-sizing: border-box;
  display: block;
  text-align: center;

}

.logo {
  display: inline-block;
  border: 1px solid red;
  width:350px;
}

.headline {
  margin:auto;
  background-color: #ffffff;
  display:block;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  height: auto;
  padding: 100px 0;
  line-height: 1.2;
  font-size: 45px;
  margin-bottom: 0px;
  font-family: 'Nanum Gothic', sans-serif;
  color: #11476B;

}

.testimonial-picture {
  display: inline-block;
  width:192px;
  height: 142px;
  margin:auto;
  background-image: url("images/testimonialfamily.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.testimonial-text {
  display: inline-block;
  width:500px;
  height: auto;
  vertical-align:bottom;
  border: 4px solid #0b82b5;
  border-left: 0px;
  margin-left:-29px;
  margin-bottom: 4px;
  border-radius: 0 0 35px 0px;
  font-family: 'Calligraffitti', cursive;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.blue-bar {
  width: 100%;
  margin:auto;
  padding: 20px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  background-color: #0b82b5;
  background-image: url("images/blueback.jpg");
  background-size: cover;
}

.organizing {
  width: 90%;
  max-width: 350px;
  border: 2px solid #ffffff;
  display: inline-block;
  margin: 25px;
  font-size: 16px;
  font-family: Arial;
  color: white;
  padding: 15px;
  font-family: 'Source Sans Pro', cursive;
}

.cleaning {
  width: 90%;
  max-width: 350px;
  border: 2px solid #ffffff;
  display: inline-block;
  margin: 10px;
  font-size: 16px;
  font-family: Arial;
  color: white;
  padding: 15px;
  font-family: 'Source Sans Pro', cursive;
}

.cleaning p {
}

.bottom-container {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: auto;
  padding: 40px;
  text-align: center;
  background-image: url("images/bottomback.jpg");
  background-size: cover;
}

.bottom-blerb {
  max-width: 920px;
  font-weight: 100;
  color: #000000;
  font-size: 24px;
  font-family: 'Markazi Text';
  margin: auto;
  text-align: left;
  padding: 20px 0;
}

.lower-buttons {
  max-width: 800px;
  display: block;
  text-align: center;
  margin: 40px auto; 
}

.blue-button {
    /*background: linear-gradient(180deg, #057DB4, 10%, #e5e5e5, 11%, #e5e5e5, 12%, #057DB4, 13%, #057DB4);*/
    width: 280px;
    height: auto;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
    font-size: 25px;
    display:inline-block;
    text-decoration: none;
    transition: .5s;
    background-color: #057DB4;
    padding: 40px 20px;
    margin: 2px 0;

    &:hover {
      background: linear-gradient(180deg, #00A, 10%, #FFF, 11%, #FFF, 12%, #00A, 13%, #00A);
    }
  }

.green-button {
    /*background: linear-gradient(180deg, #85ad5d, 10%, #FFF, 11%, #fff, 12%, #85ad5d, 13%, #85ad5d);*/
    width: 280px;
    height: auto;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
    font-size: 25px;
    display:inline-block;
    text-decoration: none;
    transition: .5s;
    background-color: #85ad5d;
    padding: 40px 20px;
    margin: 2px 0;

    &:hover {
      background: linear-gradient(180deg, #057DB4, 10%, #FFF, 11%, #fff, 14%, #057DB4, 15%, #057DB4);
    }
  }



.team {
  display: block;

  margin: auto;
  margin-top:50px;
}

.footer {
  width: 100%;
  background-color: #7ea254;
  height: 260px;
  margin-top:-40px;
}

.social-container {
  margin: auto;
  padding-top: 30px;
  width: 300px;
  display: block;
  text-align: center;
}

.social-button {
   border: 1px solid #ffffff;
   margin: 5px;
}

.footer p{
  color: #ffffff;
  text-align: center;
  font-family: Arial;
  font-size: 18px;
}
