body {
  margin: 0;
  padding: 0;

  /* to truly make it full screen*/
}

.nav {
  width:100%;
  margin: auto;
  background-color:#85ad5d;
  height: auto;
  border-bottom: 1px solid white;
  position: fixed;
  z-index: 5000;  
}

.nav-container {
  max-width: 1000px;
  margin: auto;
  background-color: #85ad5d;
  height: 55px;
}

.nav-container p {
  font-size: 17px;
  font-family: Arial;
  color: white;
}



.nav-container a {
  text-decoration: none;
  color: #ffffff;
}

.nav-box {
  width: 23%;
  display: inline-block;
  margin: auto;
  padding: 15px 0;
  background-color: #086891;
  color: #ffffff;
  font-family: 'Nanum Gothic', sans-serif;
  color: white;
  text-align: center;
  font-size: 18px;
  transition: 0.2s;   
  margin: 0 0px;
}


.call-us {
  background-color:#086891;
  display: inline-block;
  float:right;
  height: 54px;
  font-size: 20px;
  font-family: Arial;
  color: white;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  transition: 0.3s;  
}

.call-us:hover {
  border-left: 1px solid #7EA254;
  border-right: 1px solid #7EA254;
  color: #7EA254;  
}

.call-us p {
  padding: 1px 15px;
  font-size: 17px;
  font-family: Arial;
  color: white;
  transition: 0.3s;    
}

.call-us p:hover {
  text-shadow: 0 0 20px #ffffff;
}

.special-offers {
  font-size: 26px;
  font-family: 'Dancing Script', cursive; 
  color: white; 
  padding-bottom: 12px; 
  padding-top: 12px; 
  text-align: center; 
  background-color: #534D49;
}

.banner {
  max-width: 2000px;
  margin:auto;
  background-color: #222222;
  
  background-image: url("images/banner.jpg");
  background-size: cover;
  padding-top: 100px;
  }

.logo {
  display: inline-block;
  width: 500px;
  margin-top: 10px;
}

.body-container {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  display: block;
  text-align: center;
  background-color: #ffffff;
}

.headline {
  margin:auto;
  background-color: #ffffff;
  display:block;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  height: auto;
  padding: 10% 0;
  line-height: 1.2;
  font-size: 45px;
  margin-bottom: 0px;
  font-family: 'Nanum Gothic', sans-serif;
  color: #11476B;

}

.blue-bar {
  width: 100%;
  margin:auto;
  padding: 20px;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  background-color: #0A436E;
  background-image: url("images/blueback.jpg");
  background-size: cover;
}

.cleaning {
  width: 70%;
  max-width: 350px;
  border: 2px solid #ffffff;
  display: inline-block;
  margin: 15px;
  font-size: 15px;
  font-family: Arial;
  color: white;
  padding: 15px;
  font-family: 'Source Sans Pro', cursive;
  transition: 0.3s;
}

.cleaning:hover {
  border: 2px solid #7EA254;
}

.cleaning p {
}


.organizing {
  width: 70%;
  max-width: 350px;
  border: 2px solid #ffffff;
  display: inline-block;
  margin: 15px;
  font-size: 15px;
  font-family: Arial;
  color: white;
  padding: 15px;
  font-family: 'Source Sans Pro', cursive;
  transition: 0.3s;
}

.organizing:hover {
  border: 2px solid #7EA254;
}

.bottom-container {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin: auto;
  padding: 0px;
  text-align: center;
  background-image: url("images/bottomback.jpg");
  background-size: cover;
}

.bottom-container a {
  text-decoration:none;
}

.testimonial-picture {
  width:192px;
  height: 142px;
  position: relative;
  top: 93px;
  left: -210px;
  z-index: 3000;

}

.testimonial-text {
  /*border: 4px solid #0b82b5;
  border-left: 0px;
  border-radius: 0 0 35px 0px;*/

  margin: auto;
  max-width: 640px;
  font-family: 'Kalam', cursive;
  line-height: 140%;
  font-size: 22px;
  color: #ffffff;  
  background-color: #85AD5D;
  padding: 30px;
  padding-left: 190px;
  box-sizing: border-box;
  border-radius: 0 0 15px 0px;
  margin-top: -30px;
}


.bottom-blurb {
  max-width: 920px;
  font-weight: 100;
  color: #000000;
  font-size: 24px;
  font-family: 'Markazi Text';
  margin: auto;
  text-align: left;
  padding: 20px 20px;
}

.lower-buttons {
  width: 100%;
  max-width: 800px;
  display: block;
  text-align: center;
  margin: 40px auto; 
}

.blue-button {
    /*background: linear-gradient(180deg, #057DB4, 10%, #e5e5e5, 11%, #e5e5e5, 12%, #057DB4, 13%, #057DB4);*/
    width: 80%;
    max-width: 280px;
    height: auto;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
    font-size: 25px;
    display:inline-block;
    text-decoration: none;
    transition: .5s;
    background-color: #057DB4;
    padding: 40px 20px;
    margin: 2px 0;
    border: 1px solid #057DB4;  
}

   .blue-button:hover {
    border: 1px solid #85ad5d;    
      text-shadow: 0 0 40px #ffffff;

}

.green-button {
    /*background: linear-gradient(180deg, #85ad5d, 10%, #FFF, 11%, #fff, 12%, #85ad5d, 13%, #85ad5d);*/
    width: 80%;
    max-width: 280px;
    height: auto;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
    font-size: 25px;
    display:inline-block;
    text-decoration: none;
    transition: .5s;
    background-color: #85ad5d;
    padding: 40px 20px;
    margin: 2px 0;
    border: 1px solid #85ad5d;  

}
   .green-button:hover {
    border: 1px solid #057DB4;    
    text-shadow: 0 0 40px #ffffff;
}

.feel-relief {
    text-align: center; 
    padding-top: 15px; 
    line-height: 1.2; 
    font-size: 45px; 
    margin: auto;
    margin-bottom: 0px; 
    font-family: 'Nanum Gothic', sans-serif;
    color: #11476B; 
    width: 90%;
}

.content {
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: left;
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.6em;
    font-weight: 500;  
    font-size: 18px;
    padding-bottom: 50px;
}

.content-headline {
    text-align: center;
    font-size: 45px;
    margin-bottom: 0px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #6f9648;
    font-weight: 500; 
    padding-top: 50px;    
}

.content-subheadline {
    text-align: left;
    font-size: 28px;
    margin-bottom: 0px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #154c72;
    padding-top: 60px;
    padding-bottom: 10px; 
    font-weight: 500; 
}

.team {
  display: block;
  width: auto;
  margin: auto;
  margin-top:50px;
}

.footer {
  width: 100%;
  background-color: #7ea254;
}

.social-container {
  margin: auto;
  padding-top: 30px;
  width: 300px;
  display: block;
  text-align: center;
}

.social-button {
  border: 1px solid #ffffff;
  margin: 5px;
}

.internal-nav-outer {
  width: 100%;
  margin: auto;
  margin-bottom: 4px;
  border-bottom: 6px solid #7ea254;
}

.internal-nav-inner {
  max-width: 860px;
  margin:auto;
}

.internal-nav-box {
  display: inline-block;
  width: 130px;
  padding: 20px 0;
  background-color: #086891;
  color: #ffffff;
  font-family: 'Nanum Gothic', sans-serif;
  color: white;
  text-align: center;
  margin: auto;
  font-size: 13px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  transition: 0.2s; 
}

.internal-nav-box:hover {
  background-color: #7EA254;
}

.footer p{
  color: #ffffff;
  text-align: center;
  font-family: Arial;
  font-size: 18px;
  line-height: 140%;
}

.footer p a {
  text-decoration: none;
  color: #ffffff;
}

/* Media Queries */
@media only screen and (max-width: 550px) {
 .logo {
    width: 80% !important;
 }

 .top-left-regular {
    display: none!important;
 }

 .top-left-mobile {
    display: inline-block!important;
 }

 .top-right-regular {
    display: none!important;
 }

 .top-right-mobile {
    display: inline-block!important;
 }

 .special-offers {
    font-size: 20px;
 }

 .headline {
    font-size: 20px;
  }  

  .cleaning span, .organizing span {
    font-size: 10vw!important;
  }

  .feel-relief {
    font-size: 24px;
    padding: 0px;
  }

  .team {
    max-width: 200px;
  }

}
